<section class="sidebarPrincipal">
    <div class="sidebar-container flex-shrink-0 p-3 bg-light" style="width: 16rem;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <img src="assets/icons/sidebar/house.svg">
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <img src="assets/icons/sidebar/house.svg">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <img src="assets/icons/sidebar/house.svg">
                    Orders
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <img src="assets/icons/sidebar/house.svg">
                    Products
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <img src="assets/icons/sidebar/house.svg">
                    Customers
                </a>
            </li>
        </ul>
    </div>
</section>